.logout {
    h2 {
        font-size: 1rem;
        color: grey;
        margin: 20px 20px;
    }
    span {
        font-size: 0.8rem;
        margin: 0px 0 0 10px;
    }
    #logout__button {
        color: blue;
    }
}